# Python cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
env/
venv/
ENV/
.venv/

# Conda environments
conda-meta/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Conda
anaconda3/
miniconda3/
*.conda